.category{
    display: flex;
    flex-direction: column;
    min-width: 400px;
    justify-content: center;
    align-items: center;
    min-height: 200px;
}

.categoryImg{
    display: flex;
    cursor: pointer;
}

.categoryTxt{
    display: flex;
    flex-direction: column;
}

.categoryContent{
    display: flex;
    flex-direction: column;
}

.categoryContent:hover{
    cursor: pointer;
    text-decoration: underline;
    transition: 0.3s;
}

.categoryHeader{
    text-align: center;
    
}

.categoryHeader h3{
    padding: 10px 0 0 0;
    margin: 0;
    font-size: 18px;
}

.categoryCount{
    text-align: center;
}

.categoryCount p{
    padding: 0;
    font-size: 14px;
}