.noteItem{
    display: flex;
    flex-direction: column;
    max-width: 300px;
    margin: 10px 10px;
    padding: 10px 20px;
    background-color: rgba(212, 212, 212, 0.5);
    border-radius: 25px;
}

.noteItem a{
    display: flex;
    flex-direction: column;
    color: black;
    text-decoration: none;
}

.noteHeader{
    height: 30%;
}

.noteDescription{
    height: 50%;
}

.noteHeader h2{
    font-size: 20px;
    text-align: left;
}

.noteDescription p{
    font-size: 16px;
    text-align: justify;
    line-height: 24px;
}

.noteFooter{
    display: flex;
    justify-content: space-between;
    height: 20%;
}

.noteFooter h3, .noteFooter h4{
    font-size: 14px;
    opacity: 0.7;
}