footer{
    display: flex;
    flex-direction: column;
    background-color: #001f3f;
    justify-content: center;
    align-items: center;
    min-height: 100px;
}

div.footer{
    width: 50%;
    flex-basis: 80%;
    text-align: center;
    border-bottom: 2px ridge #002e4f;
    color: white;
}

.footer h2{
    font-size: 12px;
}