body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  height: 100vh;
  width: 100vw;
}

.clearfix::after {
  content: "";
  clear: both;
  display: block;
}

.center{
  text-align: center;
}