body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #001f3f;
  font-family: 'Poppins', sans-serif;
}

.clearfix::after {
  content: "";
  clear: both;
  display: block;
}

.center{
  text-align: center;
}